<h2 style="text-align: center;"><strong>API - DADOS!</strong></h2>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlMSNsOfwDVFAoIPv2KVydMF_9UuzdaRzWD0k_i8grdzQODK2KcEEgDBIGg-UiILOwmT8&amp;usqp=CAU" alt="" /></p>
<p>Para ultilizar a API, coloque ap&oacute;s a barra, a quantidade do dados que voce quer jogar, seguido da letra "d" e ent&atilde;o a quantidade de lados que voce que jogar.</p>
<p>&nbsp;</p>
<p>Exemplo:</p>
<p style="padding-left: 40px;">https://Minha-API-Entra-21.joilson404.repl.co/<span style="color: #ff0000;">5d6</span></p>
<p>&nbsp;</p>
<p><span style="color: #0000ff;">API desenvolvida por Joilson Julkoski Souza, durante o Entra 21 - 2022. Python Vespertino SENAC Blumenau.</span></p>